{{ form_start(form, {'attr': {'class': 'consommable-form'}}) }}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.designation) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.modele) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.couleur) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.etat) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.quantite) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.valeur) }}
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary btn-lg">
            <i class="fas fa-save me-1"></i> {{ button_label|default('Enregistrer') }}
        </button>
    </div>
{{ form_end(form) }}