{% extends 'base.html.twig' %}

{% block title %}Gestion des Consommables{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/consommable.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-4">
  <h3>Gestion des Consommables</h3>
  
  <!-- Button to open the modal for adding a new consommable -->
  <button class="btn btn-primary mb-3" >Ajouter un Consommable</button>



  <!-- Consommable Table -->
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Couleur</th>
        <th>Modèle</th>
        <th>Quantité</th>
        <th>Désignation</th>
        <th>État</th>
        <th>Valeur</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for consommable in consommables %}
        <tr>
          <td>{{ consommable.couleur }}</td>
          <td>{{ consommable.modele }}</td>
          <td>{{ consommable.quantite }}</td>
          <td>{{ consommable.designation }}</td>
          <td>{{ consommable.etat }}</td>
          <td>{{ consommable.valeur }}</td>
          <td class="text-center">
            <button class="btn btn-warning">Modifier</a>
            <button class="btn btn-danger">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
